.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-column-gap: 5px;
    grid-row-gap: 5px; 
    }

 

img {
    border-radius: 10%;
    width: 100%;
    
}

h2 {
    color: #3d3d3d;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;

    }

}

     