form {
    background-color: #fff9f3;
}

.messageRecycle {
    display: flex;
    flex-direction: center;
    background-color: #fff9f3;
    width: 70%;
}

div {
    padding: 10px;
    display: flex;
    justify-content: center;    
}

